<!-- Main Footer -->
<footer class="main-footer">
    <!-- To the right -->
    <div class="float-right d-sm-none d-md-block">
        Report bugs on Slack
    </div>
    <!-- Default to the left -->
    <strong>Copyright &copy; 2018 musicoin.org</strong> All rights reserved.
</footer>
