<!-- Navbar -->
<nav class="main-header navbar navbar-expand bg-white navbar-light border-bottom">
    <!-- Left navbar links -->

    <!-- Right navbar links -->
</nav>
<!-- /.navbar -->

<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="https://musicoin.org/admin/" class="brand-link">
        <span class="brand-text font-weight-light">Dashboard</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="/images/icon.png" class="img-circle elevation-2" alt="User Image">
            </div>
            <div class="info">
                <a href="https://musicoin.org/feed" class="d-block">Musicoin</a>
            </div>
        </div>
        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <!-- Add icons to the links using the .nav-icon class
             with font-awesome or any other icon font library -->
                <li class="nav-item">
                    <a href="https://musicoin.org/admin/" class="nav-link active">
                        <i class="nav-icon fa fa-dashboard"></i>
                        <p>
                            Dashboard
                            <i class="right fa fa-angle-left"></i>
                        </p>
                    </a>
                </li>
                <li class="nav-header">Control Pages</li>
                <li class="nav-item">
                    <a href="/admin/users" class="nav-link">
                        <i class="nav-icon fa fa-circle-o text-error"></i>
                        <p class="text">Users</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/admin/artist-verified" class="nav-link">
                        <i class="nav-icon fa fa-circle-o text-success"></i>
                        <p class="text">Verified artists</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/admin/artist-unverified" class="nav-link">
                        <i class="nav-icon fa fa-circle-o text-info"></i>
                        <p class="text">Unverified artists</p>
                    </a>
                </li>
                <li class="nav-item">
                <a href="/admin/user-verified" class="nav-link">
                    <i class="nav-icon fa fa-circle-o text-warning"></i>
                    <p class="text">Verified users</p>
                </a>
                </li>
                <li class="nav-item">
                <a href="/admin/user-blocked" class="nav-link">
                    <i class="nav-icon fa fa-circle-o text-danger"></i>
                    <p class="text">Blocked users</p>
                </a>
                </li>
                <li class="nav-item">
                    <a href="/admin/account-balances" class="nav-link">
                        <i class="nav-icon fa fa-circle-o text-error"></i>
                        <p class="text">Account Balance</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/admin/api-clients" class="nav-link">
                        <i class="nav-icon fa fa-circle-o text-warning"></i>
                        <p>API Clients</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/admin/new-releases" class="nav-link">
                        <i class="nav-icon fa fa-circle-o text-info"></i>
                        <p>Releases</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/admin/playback-history" class="nav-link">
                        <i class="nav-icon fa fa-circle-o text-success"></i>
                        <p>Playback History</p>
                    </a>
                </li>
                <li class="nav-item">
                <a href="/admin/contacts" class="nav-link">
                    <i class="nav-icon fa fa-circle-o text-error"></i>
                    <p>Contacts</p>
                </a>
                </li>
                <li class="nav-item">
                <a href="/admin/overview" class="nav-link">
                    <i class="nav-icon fa fa-circle-o text-success"></i>
                    <p>Overview</p>
                </a>
                </li>
                <li class="nav-item">
                <a href="/admin/ppp-analyzer" class="nav-link">
                    <i class="nav-icon fa fa-music text-warning"></i>
                    <p>PPP Analyzer</p>
                </a>
                </li>
                <li class="nav-item">
                <a href="/admin/su" class="nav-link">
                    <i class="nav-icon fa fa-terminal text-danger"></i>
                    <p>SU</p>
                </a>
                </li>           
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>
