.menu, .social {
    display: flex;
    flex-direction: column;
    font-size: em(14, $base_font-size);
    a {
        color: #333;
    }

    &__link {
        display: flex;
        align-items: center;
        padding: 16px;
        // max-height: 48px;
        &:hover {
            background-color: #E6ECF0;
            font-weight: 500;
        }
    }
    &__icon {
        margin-right: 8px;
    }
}
