#player {
    display: block;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 80px;
    background-color: #fff;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.15);

    .player__container {
        padding: 16px;
        display: flex;
        justify-content: space-between;
        .player__left {
            display: flex;
            // background-color: red;
            .player__pic {
                border-radius: 2px;
                width: 48px;
                height: 48px;
                background-color: #e9e9e9;
            }
            .player__pic-file {
                border-radius: 2px;
                width: 48px;
                height: auto;
                object-fit: cover;
            }
            .player__attr {
                margin-left: 8px;

                .player__title {
                    font-size: em(14, $base_font-size);
                    margin-bottom: 8px;
                }
                .player__artist {
                    font-size: em(14, $base_font-size);
                    color: #8899A6;
                }
            }
        }
        .player__middle {
            // background-color: green;
            display: flex;
            align-items: center;

            .player__controller {
                // background: red;
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 220px;

                &-duration {
                    display: flex;
                    margin-right: 24px;
                }
            }
            .player__duration {
                display: flex;
                margin-left: 24px;
            }
        }
        .player__right {
            // background-color: blue;
            display: flex;
            align-content: center;
            align-items: center;

            .player__synth {
                display: flex;
                justify-content: space-between;
                align-items: center;

                .player__synth-queue {
                    margin-left: 32px;
                }
            }
        }
    }
}
