<div class="flex-row" style="justify-content: center">
    <div class="wizard-card-segment">
        <h2>Account Verification</h2>
        <p class="text-large subtle-text">
        Social Account Verification helps us make sure Musicoin is home to verified content
        creators. Please note Verification is not guaranteed and is under the sole discretion
        of the <a href="mailto:reviewers@mucioin.org" style="color:red !important">Musicoin Reviewers team</a>.
        <br><br><br>
            Please link your Social Accounts below in order to continue.
        </p>
        <div class="flex-row center-text mt20">
            <div class="mr5"><a href="/connect/google" target="_blank" class="btn btn-sm  <%=user.google.token ? "disabled" : "btn-danger "%>"><span
                            class="fa fa-google-plus"></span> Google</a></div>

            <div class="mr5"><a href="/connect/twitter" target="_blank" class="btn btn-sm  <%=user.twitter.token ? "disabled" : "btn-info"%>"><span
                            class="fa fa-twitter"></span> Twitter</a></div>

            <div class="mr5"><a href="/connect/facebook" target="_blank" class="btn btn-sm <%=user.facebook.token ? "disabled" : "btn-primary"%>"><span
                            class="fa fa-facebook"></span> Facebook</a></div>
        </div>
        <div class="wizard-button-bar">
            <div class="navNext btn btn-success">Next</div>
        </div>
    </div>

</div>
