.track-image {
    background-size: cover;
    width: 128px;
    height: 128px;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 4px;
}

.large-track-image {
    background-size: cover;
    width: 256px;
    height: 256px;
    max-width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 4px;
}

.track-name {
    font-weight: bold;
}

.chat-area {
    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    padding-top: 10px;
}

.chat-messages {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    color: black;
    padding-bottom: 10px;
    overflow-y: auto;
    overflow-x: hidden;
}

.chat-message-area {
    flex-grow: 1;
    font-family: 'Ubuntu', sans-serif;
}

.chat-input-area {
    height: 40px;
    margin-top: 5px;
    border-bottom: 1px solid #eee;
    margin-bottom: 5px;
}

.chat-input {
    display: flex;
}

#chat-input {
    width: 100%;
}

.message-donate {
    border: 1px solid darkgreen;
    background-color: #f5fff5;
    border-radius: 10px;
    margin: 2px;
}

.message-admin {
    border: 1px solid #e8bbba;
    background-color: #fff5f5;
    border-radius: 10px;
    margin: 2px;
}

.message-repost {
    border-left: 5px solid #ddd;
    border-radius: 5px;
    background-color: white;
    padding: 5px;
    margin: 2px;
}

.chat-message-normal {
    display: flex;
    flex-shrink: 0;
    padding: 5px;
    border-radius: 10px;
    margin: 2px;
}

.chat-message-highlight {
    display: flex;
    flex-shrink: 0;
    padding: 5px;
    border-radius: 10px;
    margin: 2px;
}

.chat-message-preview {
    max-height: 64px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.sender-image {
    width: 48px;
    height: 48px;
    margin-right: 5px;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}

.sender-image-artist {
    width: 48px;
    height: 48px;
    margin-right: 5px;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
}

.release-image {
    width: 100px;
    height: 100px;
    margin-right: 5px;
    background-size: cover;
    background-position: center;
}

.chat-message-sender {
    font-weight: bold;
}

.chat-message-body {
    color: #333;
}

.message-time {
    color: #aaa;
    font-weight: normal;
    margin-left: 10px;
}

.action-area {
    display: flex;
    align-items: center;
}

.mobile-action-area {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.message-scroller {
    height: 100%;
    min-height: 180px;
    overflow-y: auto;
}

.track-description-header {
    color: #333;
    white-space: pre-wrap;
}

blockquote {
    background-color: #eee;
}

.private-view {
    padding: 5px;
    margin-top: 10px;
}

.message-tip {
    font-size: 14pt;
}

.general-post {
    width: 100%;
    border-radius: 5px;
    border-color: #eee;
}

.post-area {
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 10px;
}
