<div class="aotw">
        <h1 class="aotwHeading">Artist of the week</h1>
        <h2 class="aotwName"><a class="plain" href="<%=hero.titleLink%>"><%=hero.title%></a></h2>
        <h2 class="aotwSong"><a class="plain" href="<%=hero.subtitleLink%>"><%=hero.subtitle%></a></h2>
        <img class="aotwPlay" src="play.png" alt="">
      </div>