<style>
    .footer {
        background-color: #050505;
        color: white;
        height: 160px;
    }

    .footer-text {
        color: white;
    }

    .links {
        list-style-type: none;
        display: flex;
        font-size: 24px;
    }
    .footer-row {
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    .footer-column {
        padding: 1rem 1rem 1rem 3rem;
        height: 80px;
    }

    .column-middle-last {
        border-left: solid 0.5px white;
    }
</style>
<div class="container-fluid footer">
    <div class="row footer-row">
        <div class="col-sm-8 footer-column">
            <h5 class="footer-text subtle-text">Connect with us</h5>
            <div class="links">
                <li><a class="pad5 subtle-text" href="https://twitter.com/musicoins" target="_blank"><i class="fa fa-twitter" aria-hidden="true" style="color: white"></i></a></li>
                <li><a class="pad5 subtle-text" href="https://github.com/musicoin" target="_blank"><i class="fa fa-github" aria-hidden="true" style="color: white"></i></a></li>
                <li><a class="pad5 subtle-text" href="mailto:musicoin@musicoin.org"><i class="fa fa-envelope" aria-hidden="true" style="color: white"></i></a></li>
                <li><a class="pad5 subtle-text" href="https://medium.com/@musicoin" target="_blank"><i class="fa fa-medium" aria-hidden="true" style="color: white"></i></a></li>
            </div>

        </div>
        <div class="col-sm-4 footer-column column-middle-last">
            Designed by the <b>Musicoin Team</b>, © 2018 <br>Site best viewed with Chrome
        </div>
    </div>

</div>
