<div class="tip-button btn btn-success tip-button btn-xs mr5"
     recipient="0xfef55843244453abc7e183d13139a528bdfbcbed"
     amount="10"
     context-type="Donate"
     confirm-message="Are you sure you want to donate 10 plays?"
     text-success="Thanks! :)"
     text-fail=":("
     text-default="Donate 10 Plays">
    Donate 10 Plays
</div>
<div class="tip-button btn btn-success tip-button btn-xs mr5"
     recipient="0x13559ecbdbf8c32d6a86c5a277fd1efbc8409b5b"
     amount="100"
     confirm-message="Are you sure you want to donate 100 mc to Musicoin?"
     context-type="Donate"
     text-success="Thanks! :)"
     text-fail=":("
     text-default="Donate 100 mc">
    Donate 100 mc
</div>
<div class="tip-button btn btn-warning tip-button btn-xs"
     recipient="0x13559ecbdbf8c32d6a86c5a277fd1efbc8409b5b"
     amount="1000"
     confirm-message="Are you sure you want to donate 1,000 mc to Musicoin?"
     context-type="Donate"
     text-success="Thanks! :)"
     text-fail=":("
     text-default="Donate 1,000 mc">
    Donate 1,000 mc
</div>