<div class="sideLeft1">
    <div class="sidebarLogo item active">
        <i class="fa fa-music"></i>
        <a href="#" class="active" style="letter-spacing: 0.9; height: 12px;">
            <i>&nbsp;&nbsp;&nbsp;musicoin</i>
        </a>
    </div>
    <div class="sidebarLogo item active">
        <i class="fa fa-home"></i>
        <a href="#" class="active">&nbsp;&nbsp;&nbsp;Homepage</a>
    </div>
    <div class="sidebarLogo item">
        <i class="fa fa-compass"></i>
        <a href="#">&nbsp;&nbsp;&nbsp;Discover New</a>
    </div>
    <div class="sidebarLogo item">
        <i class="fab fa-gratipay"></i>
        <a href="#">&nbsp;&nbsp;&nbsp;Library</a>
    </div>
    <div class="sidebarLogo item">
        <i class="fa fa-user-circle"></i>&nbsp;&nbsp;&nbsp;
        <a href="/profile">Profile</a>
        <a href="/profile" class="balance"><span class="text-large"><%= user.formattedBalance%></span>&nbsp;MC</span>
        </a>
    </div>
    <div class="balance">
    </div>
</div>