<% if (typeof artist != "undefined") { %>

<div class="social-links">
    <%
    var socialTypes = [
        {id: "website", name: "artist website", icon: "fa-external-link"},
        {id: "bandcamp"},
        {id: "google", icon: "fa-google-plus"},
         "facebook", "twitter",
        {id: "soundcloud", name: "sound cloud"}, "linkedin", "youtube",
        {id: "reverbnation", icon: "fa-star", name: "reverb nation"},
        "pinterest", "instagram", "medium"
    ]
    for (var i = 0; i < socialTypes.length; i++) {
        var item = socialTypes[i];
        if (typeof item == "string") {
            item = {id: item};
        }
        var value = artist && artist.social ? artist.social[item.id] : "";
        var name = item.name ? item.name : item.id;
        var icon = item.icon ? item.icon : "fa-" + item.id;
        if (value) { %>
            <a href="<%=value%>" target="_blank" class="fa mr10 <%= icon %> mr5 social-link"></a>
      <% }
     } %>
     <!--
    <div style="position: absolute; top: 80%; background: none; width: 160px; left: 160px;">
                <form action="/qr-code" method="post">
                    <input type="text" name="profileAddress" value="<%=artist.profileAddress%>" style="visibility: hidden">
                    <button type="submit" id="qrcode1" class="cool"><i class="fa fa-qrcode" style="font-size: 20px;aria-hidden=true;position:absolute;right:-50px;top: 23px;"></i></button>
                </form>
        </div>
    -->
    </div>
    <!--
    <div style="position: absolute;top: 80%;background: none;width: 160px;left: 190px;">
        <a href="mailto:<%=artist.primaryEmail%>" id="primaryEmail1"> <i class="fa fa-envelope" style="font-size: 21px;aria-hidden=true;position:absolute;right:-50px;top: 21px;"></i></a>
    </div>
    -->
<% } %>
