<!doctype html>
<html>
<body>
<style>
    .preview-container {
        height: 100%;
        background-color: white;
        display: flex;
        flex-direction: column;
        border-radius: 4px;
    }
    .scroll-container {
        overflow: auto;
        height: 100%;
    }
    .license-section {
        font-size: 24px;
        margin-top: 10px;
    }

</style>
<div class="preview-container">
    <div>
        <div class="license-section text-center">
            <img class="logo" src="/images/logo.png">
            <div class="subtle-text">Pay Per Play (PPP) License</div>
        </div>
    </div>
    <div class="scroll-container">
        <%- include('partials/license-readable.ejs') %>
    </div>


    <% if (typeof hideButtonBar == "undefined" || !hideButtonBar) { %>
    <div class="button-bar text-right">
        <% if (showRelease && (!license.errors || license.errors.length==0)) {%>
        <div class="btn btn-success btn-sm mr10" onclick='$("#licensePreview").hide();$("#releaseButton").click()'>Release</div>
        <%}%>
        <div class="btn btn-danger btn-sm" onclick='$("#licensePreview").hide();'>Cancel</div>
    </div>
    <% } %>
</div>
</body>
</html>

